.color {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: 1px solid black;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#blue {
  background-color: blue;
}

#green {
  background-color: green;
}

#pixel-board {
  margin-top: 5px;
  width: 220px;
}

.pixel {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 0 0 2px;
  border: 1px solid black;
  background-color: white;
}

